.center {
  text-align: center;
}

.info-container {
  margin-top: 50px !important
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  text-align: left;
  border-bottom: 2px solid rgba(180, 208, 208, 0.54);
}

.playlist-info-tumblr-icon {
  color: rgba(180, 208, 208, 0.54);
}

.fa-sort-amount-up {
  color: rgba(180, 208, 208, 0.54);
}

td {
  font-weight: 200;
  padding: 10px;
}

.process-buttons {
  margin-top: 15px;
  margin-bottom: -20px;
}

.right-button {
  padding-left: 10px;
}