.center {
  text-align: center;
  margin-top: 100px;
}

.pagination {
  text-align: center;
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: rgba(180, 208, 208, 0.54);
  color: black;
  border: 1px solid rgba(180, 208, 208, 0.54);
}