.center {
  text-align: center;
  margin-top: 100px;
}

.pagination {
  text-align: center;
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: rgba(180, 208, 208, 0.54);
  color: black;
  border: 1px solid rgba(180, 208, 208, 0.54);
}

.generate-another button,
.save-playlist button {
  margin-top: 40px;
  margin-bottom: -20px;
  padding: 0.8rem;
  background-color: transparent;
  letter-spacing: 0.1rem;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 1.875rem;
  color: red;
  border: 3px solid red !important;
  font-weight: bold;
}
