input:focus {
  outline: 0;
}

input.question {
  font-size: 40px;
  font-weight: 200;
  border-radius: 2px;
  margin: 0;
  border: none;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden;
  text-transform: lowercase;
}

input.question + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 80%;
  border-top: 1px solid #dda77b;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

input.question:focus + label {
  width: 90%;
}

input.question:focus {
  padding-top: 20px;
}

input.question:focus + label > span,
input.question:valid + label > span {
  top: -100px;
  font-size: 22px;
  color: #333;
}

input.question:valid + label {
  border-color: rgba(180, 208, 208, 0.54);
  border-bottom: 1px solid rgba(180, 208, 208, 0.54);
}

input.question:invalid {
  box-shadow: none;
}

input.question + label > span {
  font-weight: 200;
  margin: 0;
  position: absolute;
  color: #8f8f8f;
  font-size: 36px;
  top: -66px;
  left: 0px;
  z-index: -1;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

input[type="submit"] {
  -webkit-transition: opacity 0.2s ease, background 0.2s ease;
  transition: opacity 0.2s ease, background 0.2s ease;
  display: block;
  opacity: 0;
  margin: 10px 0 0 0;
  padding: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #eee;
}

input[type="submit"]:active {
  background: #999;
}

input.question:valid ~ input[type="submit"] {
  -webkit-animation: appear 1s forwards;
  animation: appear 1s forwards;
}

input.question:invalid ~ input[type="submit"] {
  display: none;
}

@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

.search-componenet {
  padding-top: 12vw;
}

@media (max-width: 48em) {
  input.question:focus + label {
    width: 75%;
  }

  input.question + label {
    width: 75%;
  }

  input.question {
    width: 75%;
  }

  input.question + label > span {
    font-size: 30px;
  }

  .search-componenet {
    padding-top: 20vw;
  }
}

.search-info-list {
  margin-top: 100px;
  margin-left: -15px;
}

.search-info-list ul li {
  background-color: transparent;
  border: 0 none;
  padding-top: 15px;
  font-weight: 200;
}

.fa-check {
  color: #FFD6B4;
}

.search-info-list span::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  border-bottom: 2px solid rgba(180, 208, 208, 0.54);
  content: ""
}

.fa-check:before {
  margin-right: 15px;
}

