.login-component {
  padding-left: 8vw;
  padding-top: 16vw;
}

.login-component h1 {
  font-weight: bold;
  font-size: 5rem;
  color: #dda77b;
}

.login-component h4 {
  padding-top: 1vw;
  color: #dda77b;
}

.home-text {
  padding-top: 10vw;
}

.login-button {
  padding: 0.8rem;
  background-color: transparent;
  letter-spacing: 0.1rem;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 1.875rem;
  color: #1db954;
  border: 3px solid #1db954 !important;
  font-weight: bold;
}

.login-button:hover {
  color: #fff;
  background: #1db954;
}

.fa-spotify {
  padding-right: 10px;
}

@media only screen and (max-width: 767px) {
  .login-component h1 {
    font-size: 3em;
  }

  .login-component h2 {
    font-size: 2em;
  }
}
