.login-container {
  color: #212529 !important;
}

.login-button {
  background-color: transparent;
  letter-spacing: 0.1rem;
  cursor: pointer;
  text-transform: uppercase;
  color: #1db954;
  border: 2px solid #1db954 !important;
  font-weight: 300;
  font-size: 16px !important;
}

.homepage-button {
  margin-top: -5px;
}

.homepage-button .fa-spotify {
  color: #1db954;
}

.login-button:hover {
  color: #fff;
  background: #1db954;
}

.login-button:hover .fa-spotify {
  color: #fff;
}

.fa-spotify {
  padding-right: 10px;
}

.parent {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.homepage-info {
  text-align: center;
  font-weight: 300;
  margin-top: 60px;
  margin-bottom: 20px;
}

.homepage-image {
  margin-bottom: -20px;
  max-width: 300px;
}

.no-spotify-span {
  font-style: italic;
  font-weight: 100;
  font-size: 13px;
}

.made-with-love {
  position: absolute;
  bottom: 15px;
  left: 0%;
  right: 0%;
  text-align: center;
  font-weight: 300;
  font-size: 15px;
}

.love {
  display: inline-block;
  position: relative;
  top: .2em;
  font-size: 1.4em;
  color: #e74c3c;
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  transform: scale(.9);
  -webkit-animation: love .5s infinite linear alternate-reverse;
  -moz-animation: love .5s infinite linear alternate-reverse;
  animation: love .5s infinite linear alternate-reverse;
}

.homepage-info a {
  padding: 20px;
}

@-webkit-keyframes love {
  to {
    -webkit-transform: scale(1.2);
  }
}

@-moz-keyframes love {
  to {
    -moz-transform: scale(1.2);
  }
}

@keyframes love {
  to {
    transform: scale(1.2);
  }
}

.more-about {
  position: absolute;
  top: 20px;
  right: 20px;
  font-weight: 300;
  font-size: 15px;
}

.more-about ul li {
  display: inline;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .homepage-image {
    max-width: 200px;
  }
}