.feedback {
  margin-top: 150px;
  margin-bottom: 100px;
}

.typeform-widget {
  height: 500px;
}

.form {
  font-size: 12px;
  color: #999;
  opacity: 0.5;
  padding-top: 5px;
}

.feedback-image {
  text-align: center;
  max-width: 300px;
}

.feedback-info {
  text-align: center;
  margin-top: 100px;
}


.privacy {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: justify-all;
  font-weight: 200;
}